<div id="header_wrapper">

    <div class="card" style="width: 40rem;">
        <div class="card-body">
            <h2 class="card-title">Daniel <strong>Puleo</strong></h2>
            <h4 class="card-subtitle mb-2 text-muted">Trader - Web Developer</h4>
            <div class="social_media_icons">
                <a href="https://www.linkedin.com/in/daniel-alejandro-puleo-guzman-171633119/" class="card_image" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/dpuleo3" class="card_image" target="_blank"><i class="fab fa-github-square"></i></a>
                <a href="https://www.tradingview.com/u/dpuleo19/" class="card_image" target="_blank"><i class="fas fa-cloud-upload-alt"></i></a>
                <a href="https://twitter.com/dpuleo19" class="card_image" target="_blank"><i class="fab fa-twitter-square"></i></a>
            </div>
        </div>
    </div>
    <span class="profile_image_wrapper"></span>
    <div class="profile_wrapper">
        <a id="dpuleo" href="#"><img class="profile_photo" src="../../assets/images/foto_header_sinfondo.png"></a>
    </div>

</div>
