<footer class="footer_wrapper">

    <span class="footer_back"></span>
    <h1 class="footer_header">Contact</h1>

    <div class="footer_info">
        <div class="info">
            <div class="info_wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                </svg>
                <p class="location">Madrid, Spain</p>
            </div>
            <div class="info_wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" fill="currentColor" class="bi bi-envelope-open-fill" viewBox="0 0 16 16">
                    <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.313l6.709 3.933L8 8.928l1.291.717L16 5.715V5.4a2 2 0 0 0-1.059-1.765l-6-3.2zM16 6.873l-5.693 3.337L16 13.372v-6.5zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516zM0 13.373l5.693-3.163L0 6.873v6.5z"/>
                </svg>
                <p class="email">dpuleo3@gmail.com</p>
            </div>
            <div class="info_wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" fill="currentColor" class="bi bi-phone-fill" viewBox="0 0 16 16">
                    <path d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"/>
                </svg>
                <p class="phone">722 88 05 26</p>
            </div>
        </div>
        <hr class="footer_divider">
        <p class="page_info">
            Powered by <strong>Daniel Puleo</strong>
        </p>
        <p class="page_info">
            Illustrations by <strong>German Puleo</strong>
        </p>
    </div>

    <div class="container">
        <div class="row">
            <div class="column">
            </div>
            <div class="column">
                <form action="/action_page.php">
                    <label for="lname">Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Full name...">
                    <label for="subject">Subject</label>
                    <textarea id="subject" name="subject" placeholder="Write your inquire..." style="height:170px"></textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
      </div>


</footer>
