<div id="pro_experience" class="pro_exp_wrapper">

    <h1 class="pro_exp_header">Professional Skills</h1>
    
    <span class="header_wrapper"></span>

    <img src="../../assets/images/esfera.png">

    <div class="center">
        <div class="skillBox">
            <p>Stock Market Analysis</p>
            <p>84%</p>
            <div class="skill">
                <div id="stocks" class="skill_level" style="width: 84%"></div>
            </div>
        </div>    
        <div class="skillBox">
            <p>Django</p>
            <p>36%</p>
            <div class="skill">
                <div id="django" class="skill_level" style="width: 36%"></div>
            </div>
        </div>   
        <div class="skillBox">
            <p>Ruby on Rails</p>
            <p>58%</p>
            <div class="skill">
                <div id="rails" class="skill_level" style="width: 58%"></div>
            </div>
        </div>   
        <div class="skillBox">
            <p>Angular</p>
            <p>78%</p>
            <div class="skill">
                <div id="angular" class="skill_level" style="width: 78%"></div>
            </div>
        </div>   
        <div class="skillBox">
            <p>React</p>
            <p>65%</p>
            <div class="skill">
                <div id="react" class="skill_level" style="width: 65%"></div>
            </div>
        </div>   
    </div>    

</div>



