<div class="pro_exp_wrapper">

    <span class="header_wrapper"></span>    
    <h1 class="pro_exp_header">Professional Experience</h1>

    <img src="../../assets/images/esfera.png">

    <div class="row">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Director - Trade Analyst - Intern</h2>
                <hr class="divider">
                <p class="card-text">
                    These has been my job titles working in marketing, operations, compliance,
                    banking and mentorship. I've been in charge from marketing projects to operational reporting,
                    from portfolio strategies presentations to clients, to teach classes of how to invest 
                    in the stock market.
                </p>
                <p id="second_card_text" class="card-text">
                    I know how to lead but also know when to follow. Been in almost every position in the
                    pyramid has given me a good edge and experience to face any challenge.
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button" href="#">Download CV</button>
                </div>
            </div>
        </div>
    </div>

</div>
