.pro_exp_wrapper {
    width: 77%;
    height: 95vh;

    margin-left: 10%;

    position: relative;
    display: flex;
    justify-content: center;
}

.header_wrapper {
    width: 40%;
    height: 70%;

    background-color: #AE81FF;
    
    z-index: 1;
    position: absolute;
    top: 28%;
    left: 62%;
}

.pro_exp_header {
    color: white;
    z-index: 2;
    position: absolute;
    top: 12%;
    right: 60%;
}

img {
    z-index: 2;
    width: 40%;
    height: 70%;

    position: absolute;
    top: 20%;
    left: 55%;
}

.center {
    width: 45%;
    height: 68%;
    top: 60%;

    display: flex;
    align-items: center;
    flex-direction: column;

    box-sizing: border-box;
    position: relative;

    transform: translate(-50%,-50%);
    padding: 0.5%;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.carousel-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    width: 100%;
    height: 100%;
}

.active {
    width: 50%;
}

.carousel-inner {
    margin-left: 100px;
    overflow: visible;
    width: 100%;
    height: 100%;
}

.carousel-item {
    margin-top: 50px;
}

.carousel-item:active {
    width: 10%;
}

.carousel-icon-wrapper {
    margin-top: -10px;
    margin-left: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
    padding: 0;
    color: #fff;
}

.carousel-icon-wrapper > i {
    padding: 10px;
}

.d-md-block {
    position: relative;
    margin-top: 20px;
    margin-left: -50px;
}

.carousel-caption > h3 {
    color: #F92672;
    font-weight: bold;
}



/* ---------------------------------------------- */

@media (max-width: 576px) {

    img {
        display: none;
    }

    .pro_exp_wrapper {
        width: 100%;
        height: 115vh;
    }

    .header_wrapper {
        width: 85%;
        height: 65%;

        top: 0%;
        left: 0%;
    }

    .pro_exp_header {
        font-size: 28px;
        font-weight: bold;

        top: 2%;
        left: 5%;
    }

}