<div id="courses" class="courses_wrapper">

    <h1 class="courses_header">Courses</h1>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
            <i class="fas fa-laptop-code"></i>
            <div class="card-body">
                <h4 class="card-title">Codecademy Pro</h4>
                <p class="card-text">Four Python Skill Paths</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <i class="fas fa-bug"></i>
            <div class="card-body">
                <h4 class="card-title">Academia Hack</h4>
                <p class="card-text">Six month Full-Stack Web Developer boot-camp</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <i class="far fa-chart-bar"></i>
            <div class="card-body">
                <h4 class="card-title">Instituto de Estudios Superiores de Administracion</h4>
                <p class="card-text">Two courses of financial analysis of the stock market</p>
            </div>
            </div>
        </div>
        <div id="collage" class="col">
            <img id="codecademy" src="../../assets/images/codecademy_logo.png">
            <img id="hack" src="../../assets/images/hack_logo.png">
            <img id="iesa" src="../../assets/images/iesa_logo.png">
        </div>
    </div>

</div>
