<div id="courses" class="courses_wrapper">

    <h1 class="courses_header">Courses</h1>

    <span id="left_image_wrapper" class="image_wrapper"></span>
    <img id="left_image" class="image" src="../../assets/images/codecademy_image.jpeg">
    <span id="down_image_wrapper" class="image_wrapper"></span>
    <img id="down_image" class="image" src="../../assets/images/hack_image.jpg">  
    <span id="right_image_wrapper" class="image_wrapper"></span>
    <img id="right_image" class="image" src="../../assets/images/iesa-image.jpg">

    <div id="card_left_wrapper" class="row">    
        <div class="card_left">
            <div class="card-body">
                <h4 class="card-title">Codecademy Pro</h4>
                <p class="card-text">
                    Succesfully completed 4 Python Skill Paths. 
                </p>
                <div class="d-grid d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button"><strong><p>+</p></strong></button>
                </div>
            </div>
        </div>
    </div>
    <div id="card_up_wrapper" class="row">    
        <div class="card_up">
            <div class="card-body">
                <h4 class="card-title">Academia Hack</h4>
                <p class="card-text">
                    A 6 month coding boot-camp to become a Full-Stack Web Developer.
                </p>
                <div class="d-grid d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button"><strong><p>+</p></strong></button>
                </div>
            </div>
        </div>
    </div>
    <div id="card_right_wrapper" class="row">    
        <div class="card_right">
            <div class="card-body">
                <h4 class="card-title">Instituto de Estudios Superiores de Administracion</h4>
                <p class="card-text">
                    Two courses of Technical Analysis for financial assets. 
                </p>
                <div class="d-grid d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button"><strong><p>+</p></strong></button>
                </div>
            </div>
        </div>
    </div>

</div>
