.courses_wrapper {
    width: 80%;
    height: 95vh;

    background-color: #252525;

    position: relative;

    margin-left: 10%;
    display: flex;
    justify-content: center;
}

.courses_header {
    position: absolute;
    color: white;

    z-index: 2;
}

.row {
    margin-top: 3%;
}

.col {
    padding: 2%;
}

.card {
    background-color: #252525a1;
    color: white;

    align-items: center;
}

.fas, .far {
    padding: 2.5%;
    font-size: 75px;
}

.card-body {
    padding: 2%;
    align-items: center;
}

.card-title {
    color: #F92672;
}

.card-text {
    font-size: 18px;
}

#collage {
    position: relative;
}

img {
    width: 25%;
    height: 40%;
}

#codecademy, #hack, #iesa {
    position: absolute;
}

#codecademy {
    left: 23%;
}

#hack {
    top: 25%;
    left: 62%;
}

#iesa {
    top: 52%;
    left: 35%;
}


/* --------------------------------------------- */

@media (max-width: 576px) {



}