<nav id="nav_wrapper" class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <a id="navbar_logo" href="#header_wrapper"><img src="../../assets/images/CLEAN_logo_DP.png"></a>    
                <li class="nav-item dropdown" routerLinkActive="active">
                    <!-- dropdown-toggle | add to class -->
                    <a class="nav-link" href="#portfolio">Portfolio</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" >Finance</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" >Web Development</a></li>
                    </ul>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href="#pro_experience">Professional Skills</a>
                </li>
                <li class="nav-item dropdown" routerLinkActive="active">
                    <!-- dropdown-toggle | add to class -->
                    <a class="nav-link" href="#courses">Courses</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="#">Codecademy Pro</a></li>
                        <li><a class="dropdown-item" href="#">Academia Hack</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">IESA</a></li>
                    </ul>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href="#footer">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>