<div class="portfolio_wrapper">

    <div id="cards_wrapper" class="row row-cols-1 row-cols-md-2 g-2">
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title"><strong>Finance</strong></h3>
              <p class="card-text">A window that shows my trading perfomance and stock portfolio.
                Here I disclose my monthly investment account statements.
                </p>
                <button type="button" class="btn btn-light">More</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../assets/images/Cpu-Icon.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title"><strong>Web Development</strong></h3>
              <p class="card-text">Here are the different projects that I've been working
                  to practice my skills. I really want to get better coding in Python.
                </p>
                <button type="button" class="btn btn-light">More</button>
            </div>
          </div>
        </div>
    </div>

</div>
