<div id="portfolio" class="portfolio_wrapper">

    <div id="cards_wrapper" class="row row-cols-1 row-cols-md-2 g-2">
        <div class="col">
          <div class="card">
            <img id="trading_icon" src="../../assets/images/trading-Icon.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title"><strong>Stocks Portfolio</strong></h2>
                <button type="button" class="btn btn-light">
                <a class="stocks_link" href="https://docs.google.com/spreadsheets/d/1xvbMhk9iR-9NbIxNF8WI8KxhI9oAukB3fLu0PRG3VrM/edit?usp=sharing" target="_blank">More</a></button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img id="cpu_icon" src="../../assets/images/Cpu-Icon.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title"><strong>Development Portfolio</strong></h2>
                <button type="button" class="btn btn-light">More</button>
            </div>
          </div>
        </div>
    </div>

</div>
