<div class="bio_wrapper">
    <!-- <h2 class="bio_header">Bio</h2> -->

    <div id="bio_card" class="card text-center" style="width: 85rem;">
        <div class="card-body">
            <p class="card-text">
                "I specialize in analysis and investment in
                the stock market, always learning new things. I want to continue
                developing in this field by doing the
                <strong>Chartered Master Technician</strong>
                certification and also doing a
                specialization in <strong>Python Language</strong>".
            </p>
        </div>
    </div>


</div>