.bio_wrapper {
    width: 100%;
    height: 60vh;

    position: relative;

    display: flex;
    justify-content: center;
}

#bio_card {
    height: 90%;
    width: 100%;

    background-color: #A6E22Ea1;

    top: 35%;
}

.card-body {
    height: 100%;
    width: 100%;

    color: white;

    box-sizing: border-box;
    padding: 30px;
}

.fas {
    position: absolute;
    right: 90%;
    top: -5%;

    font-size: 60px;
}

.card-text {
    height: 100%;
    width: 100%;

    font-size: 33px;
    margin-top: 25px;

    word-spacing: 5px;
}

/* ---------------------------------------------- */

@media (max-width: 576px) {

    .bio_wrapper {
        height: 60vh;
    }

    #bio_card {
        height: 95%;

        top: 0%;
    }

    .card-body {
        width: 100%;
        height: 100%;
        
        margin: 0%;
    }
  
    .card-text {
        font-size: 20px;

        margin: 0%;
    }

}